#itemCard{
  cursor: pointer;
}

#itemCard:hover{
  border: 1px solid transparent;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
}

#itemCard p{
  color: #084884;
}

#itemCard h5{
  color: #0055f4;
}

.itemButton{
  width: 100%;
}